// Home Landing Styling

.homeLanding{

    padding-top: 100px;

    .textContent{

        margin-top: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        .subText{
            font-weight: 300;
            max-width: 600px;
            text-align: center;
            margin-top: 40px;
            font-size: 18px;
            line-height: 30px;
        }

        .mainText{
            
            font-size: 90px;
            text-align: center;
            font-weight: 500;
            letter-spacing: -3px;
            line-height: 100px;

            span.typewritter{

                color: var(--brandcolor);

                .Typewriter__cursor{
                    
                    font-size: 90px;
                    font-weight: 100 !important;

                }

            }

            .better{
                position: relative;
                width: max-content;
            }

            .imgBetter{
                display: inline-block;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                margin-top: -25px;
                margin-left: -10px;
                display: none;

                img{
                    width: 100%;
                }
            }

        }

    }

    .phoneScreens{

        width: 100%;
        margin-top: 180px;

        img{
            width: 100%;
        }

    }

}

// Statistics Styling

.flockJoin{

    width: 100%;
    margin: 30px 0 30px 0;

    .otherStat{

        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;
        border-radius: 10px;

        .users{
            display: flex;
            align-items: center;
            column-gap: 20px;

            .users_img{
                width: 180px;

                img{
                    width: 100%;
                }
            }

            .joinText{
                span{
                    color: var(--brandcolor);
                    font-style: italic;
                }
            }
        }

        .downloadStores{
            display: flex;
            column-gap: 20px;
            cursor: pointer;

            .downloadBtn_show{
                width: 170px;

                img{
                    width: 100%;
                }
            }
        }

    }

}

// Super Charged Styling

.charged{

    position: relative;

    .bolt{
        position: absolute;
        z-index: 999;
        overflow: hidden;
        height: 250px;
        width: 250px;
        left: 31%;
        top: 70px;

        img{
            width: 100%;
        }

    }

    .handPhone{
        height: 700px;
        width: calc(50% - 15px);
        position: relative;
        border-radius: 15px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        img{
            height: 120%;
        }
    }

    display: flex;
    align-items: center;
    justify-content: space-between;

    .textArea{

        width: calc(50% - 15px);
        background-color: var(--brandcolor);
        padding: 70px;
        height: 700px;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        color: #fff;

        .pattern{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;

            img{
                width: 100%;
                mix-blend-mode: multiply;
                opacity: .3;

            }
        }

        .texting{
            position: absolute;
            z-index: 2;
            left: 0;
            top: 110px;
            padding: 0px 70px;
        }

        .subTopText{
            margin-top: 50px;
            line-height: 28px;
            font-weight: 300;
            width: 80%;
        }

        .explore{
            margin-top: 125px;
            color: #fc0;
            cursor: pointer;
        }

        .topText{

            font-size: 50px;
            font-weight: 500;
            width: 80%;
            line-height: 60px;

            span{
                color: #fc0;
                font-style: italic;
            }

        }

    }

}


// Service Information

.serviceInfo{
    width: 100%;
    margin-top: 30px;

    .services{

        display: flex;
        position: relative;
        padding: 10px 70px;
        height: 500px;
        background-color: #101026;
        border-radius: 15px;
        position: relative;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        p{
            width: 50%;
            font-weight: 200;
            color: #fff;
            font-size: 15px;
            line-height: 25px;
            margin-top: 40px;
        }

        .pattern{
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;

            img{
                width: 100%;
                mix-blend-mode: overlay;
                opacity: .8;

            }
        }
        

        .textPam{

            font-size: 50px;
            width: 70%;
            text-align: left;
            line-height: 60px;
            font-weight: 500;
            color: #fff;

            span{
                color: var(--brandcolor);
            }

        }

        .moneyGIF{
            width: 100%;
            position: absolute;
            display: none;
            top: 0;

            img{
                width: 100%;
            }
        }

    }
}


// features set

.features{

    width: 100%;
    overflow-x: hidden;
    margin-top: 50px;

    .feature{

        display: flex;
        align-items: center;
        justify-content: space-between;


        .photoHold{

            width: 700px;
            height: 700px;
            background-color: var(--brandcolor);
            border-radius: 15px 350px 15px 15px;
            position: relative;
            overflow: hidden;

            .mainPic{

                img{
                    height: 85%;
                    position: absolute;
                    bottom: 0;
                    margin-left: 80px;
                }

            }


            .pattern{
                
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
    
                img{
                    
                    width: 120%;
                    mix-blend-mode: multiply;
                    opacity: .5;
    
                }
            }

        }

        .textPin{

            width: 40%;
            
            .tag{
                padding: 10px 15px;
                border-radius: 100px;
                font-size: 10px;
                background-color: #D5EDFF;
                width: max-content;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                color: var(--brandcolor);
                margin-bottom: 50px;

                .fi{
                    margin-top: 2px;
                    margin-left: 3px;
                }
            }

            .content{

                font-size: 50px;
                line-height: 63px;

            }

            .sub_content{

                font-weight: 300;
                width: 75%;
                line-height: 28px;
                margin: 40px 0;

            }

            .proof{
                font-size: 14px;
                display: flex;
                align-items: center;

                a{
                    text-decoration: none;
                    color: var(--brandcolor);
                    margin-left: 3px;
                }

                .fi{

                    color: var(--brandcolor);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 3px;

                }
            }

        }

    }

    .feature2{

        .tag, .photoHold{
            background-color: #FBF7EE !important;
            color: #FF9D00 !important;
        }

        .photoHold{
            background-color: #ffc107 !important;
        }

    }

    .flip{

        border-radius: 350px 10px 10px 10px !important;
        
        .mainPic{

            img{
                margin-left: 115px !important;
            }

        }

        .pattern{
                
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;

            img{
                
                width: 120%;
                mix-blend-mode : multiply !important;
                opacity: .3 !important;

            }
        }

    }

    .feature3{

        .tag, .photoHold{
            background-color: #FBEEEE !important;
            color: #FF5668 !important;
        }
        
        .photoHold{
            background-color: #FF5668 !important;
        }

        .mainPic{

            img{
                margin-left: 65px !important;
            }

        }

        .pattern{
                
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;

            img{
                
                width: 120%;
                mix-blend-mode : multiply !important;
                opacity: .45 !important;

            }
        }

    }


    .feature4{

        .tag, .photoHold{
            background-color: #EEFBF3 !important;
            color: #00C9AA !important;
        }

        .photoHold{

            background-color: #00C9AA !important;
            
        }

        .mainPic{

            img{
                margin-left: 115px !important;
            }

        }

        .pattern{
                
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;

            img{
                
                width: 120%;
                mix-blend-mode : multiply !important;
                opacity: .3 !important;

            }
        }

        span{
            background-color: #00C9AA;
        }

    }

}


// Virtual Card

.virtualcards{

    padding: 150px 0;
    background-color: var(--faintblue);

    .virtual{

        display: flex;
        align-items: center;
        justify-content: space-between;

        .textShip{

            width: 50%;

            .mainText{

                font-size: 54px;
                width: 80%;

                span{
                    color: var(--brandcolor);
                }

            }

            .subText{
                margin: 40px 0;
                width: 55%;
                font-weight: 300;
                line-height: 28px;
            }

            .supportChannels{

                margin-top: 70px;

                p{
                    font-size: 14px;
                    color: #777;
                    font-weight: 300;

                }

                .supportBizz{

                    display: flex;
                    align-items: center;
                    margin-top: 50px;
                    column-gap: 20px;

                    .bizzTxt{
                        font-size: 12px;
                    }

                    .bizz{
                        width: 50px;
                        height: 50px;

                        img{
                            width: 100%;
                        }
                    }

                }

            }

            .tag{
                padding: 10px 15px;
                border-radius: 100px;
                font-size: 10px;
                background-color: #F1F1FC;
                width: max-content;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                color: var(--brandcolor);
                margin-bottom: 50px;

                .fi{
                    margin-top: 2px;
                    margin-left: 3px;
                }
            }

        }

        .phoneImg{

            width: 620px;
            overflow: hidden;

            img{
                width: 100%;
            }

        }
    }

}


//merchant area

.merchant {


    position: relative;
    height:800px;
    overflow: hidden;

    .merchant_agent{

        display: flex;
        align-items:  center;
        justify-content: space-between;
        height: 800px;

        .percentile{

            position: absolute;
            bottom: 0px;
            right: -120px;
            display: none;

        }


        .merchantImg{

            height: 600px;
            width: 600px;
            overflow: hidden;
            display: flex;
            justify-content: flex-end;
            border-radius: 20px;

            img{
                height: 100%;
            }

        }

        .textContentArea{

            width: 50%;

            .mainText{

                font-size: 54px;

                span{
                    color: var(--brandcolor);
                    //font-style: italic;
                }

            }

            .subText{

                margin: 40px 0;
                width: 55%;
                font-weight: 300;
                line-height: 28px;

            }

            .proof{
                font-size: 14px;
                display: flex;
                align-items: center;

                a{
                    text-decoration: none;
                    color: var(--brandcolor);
                    margin-left: 3px;
                }

                .fi{

                    color: var(--brandcolor);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 3px;

                }
            }

        }

    }

}


//Download Area

.download{

    position: relative;
    overflow: hidden;

    .flexy{

        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        overflow: hidden;
        height: 600px;
        background-color:#342AD5;
        border-radius: 30px;
        padding: 0 70px;

        .superBox{
            position: absolute;
            z-index: 99;
            height: 100%;
            display: flex;
            align-items: center;
        }

        .pattern{
                
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;

            img{
                
                width: 120%;
                mix-blend-mode : multiply !important;
                opacity: .5 !important;

            }
        }
        

        .Supermain{

            width: 40%;
            color: #fff;

            .padi{
                font-size: 54px;
            }

            .subpadi{
                margin: 40px 0;
                width: 100%;
                font-weight: 300;
                line-height: 28px;
                margin-bottom: 60px;
            }

            .btn{

                .btnone, .btntwo{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    margin-bottom: 20px;

                    .btn-grp{

                        width: 180px;

                        img{
                            width: 100%;
                        }
                    }

                }

            }

            

        }

        .featherphoto{

            position: absolute;
            bottom: -30px;
            right: 70px;
            width: 500px;
            height: 100%;
            display: flex;
            align-items: flex-end;
            overflow: hidden;
            
            img{
                width: 100%;
            }
            
        }

    }

    .wavesBG{
        position: absolute;
        top: -102%;
        left: -60%;
        opacity: .03;
    }

}


//Partners upi

.partners{
    padding: 120px 0;

    .partner{

        display: flex;
        flex-direction: column;
        align-items: center;

        .title{

            margin-bottom: 100px;
            font-size: 15px;
            text-transform: uppercase;

        }

    }
    
    .partner-logos{

        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;

        .logo-x{

            cursor: pointer;

            width: 160px;
            filter: grayscale(1);

            img{
                width: 100%;
            }

            &:hover{

                filter: grayscale(0);

            }
        }

    }
}

//getStarted

.kickstart{

    padding: 0px 0;
    position: relative;
    padding-bottom: 150px;
    

    .getStarted{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .imgPhone{
            position: absolute;
            top: 300px;
        }

        .line{
            height: 1px;
            width: 30%;
            background-color: #dadada;
            position: absolute;
            top: 50%;

            &.line2{
                right: 0;
            }
        }

        .title{

            
            font-size: 54px;
            text-align: center;
            margin-bottom: 300px;

            span{
                color: #342AD5;
            }


        }

        .getKick{
            width: 100%;
            position: relative;
            height: 600px;
        }

        .content-start{

            width: 320px;
            position: absolute;
            display: flex;
            flex-direction: column;

            .topic{

                color: #342AD5;

            }

            .content-started-body{

                font-size: 14px;
                font-weight: 300;
                margin: 30px 0;
                line-height: 23px;

            }

            .link-useful{

                display: flex;
                align-items: center;

                .explain{
                    font-size: 13px;
                    cursor: pointer;
                }

                .stroke{

                    height: 15px;
                    width: 1.5px;
                    background-color: #000;
                    margin: 0 10px;

                }

            }
        }

        .top-right{

            top: 20px;
            right: 0;
            text-align: right;
            align-items: flex-end;
            
        }

        .top-left{

            top: 20px;
            left: 0;
            
        }

        .bottom-right{

            bottom: 20px;
            right: 0;
            text-align: right;
            align-items: flex-end;
            
        }

        .bottom-left{

            bottom: 20px;
            left: 0;
            
        }
    }


}


//crm

.crm{
    background-color: var(--faintblue);
    margin: 150px 0;
    height: 700px;
    overflow: hidden;

    .crmPoint{

        display: flex;
        justify-content: space-between;
        align-items: center;

        .crmImg{

            width: 45%;
            height: 700px;
            overflow: hidden;
            //border-radius: 0px 350px 0px 0px;

            img{
                height: 100%;
            }

        }

    }

    .crmContent{

        width: 45%;

        .mainText{
            font-size: 50px;
        }

        .subText{
            margin: 40px 0;
            width: 65%;
            line-height: 28px;
            font-weight: 300;
        }

        .btnNow{
            
            background-color: var(--brandcolor);
            color: #fff;
            padding: 18px 20px;
            border-radius: 8px;
            width: max-content;
            font-size: 14px;
            cursor: pointer;
        }
    }
}


//faqs

.faqs{

    margin: 150px 0;
    

    .titleHolder{
        text-align: center;
        font-size: 30px;
        font-weight: 400;
    }

    .faqBody{

        margin: 0 auto;
        margin-top: 120px;
        width: 100%;

        .faq{

            padding: 30px;
            padding-left: 0;
            padding-bottom: 40px;
            border-bottom: 1px solid rgb(233, 233, 233);
            position: relative;
            transition: all .4s ease-in-out;
            overflow: hidden;
            margin-bottom: 20px;
            
            .text-faq{

                font-size: 15px;

                .q{
                    color: #000;
                }

                .a{
                    font-weight: 300;
                    margin : 10px 0;
                    margin-bottom: 10px;
                    line-height: 28px;
                    width: 60%;
                    padding-top: 20px;
                    display: none;
                    color: #444;
                }

            }

            .controller{
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                cursor: pointer;
                position: absolute;
                top: 25px;
                right: 25px;

                .fi{
                    margin-top: 5px;
                }
            }

            .controllerB{

                display: none;

            }

            &.openFaq{

                height: max-content;
                padding-bottom: 20px;

                .a{
                    display: block !important;
                }

                .controller{
                    display: none;
                }

                .controllerB{
                    display: flex;
                }

            }
        }
    }
}


//footer

.footerArea{

    position: relative;

    .stripContainer2{

        margin-top: -100px;
        
        //transform: rotateY(180deg) rotate(15deg);

        width: 110%;
        height: 400px;

        img{
            width: 100%;
        }
    }

    .footer{


        height: 300px;
        width: 100%;

        .signUp{

            .smallText{

                color: #101026;
                font-weight: 300;
                margin-bottom: 45px;
                font-size: 18px;

            }

            .topic{

                font-size: 30px;
                line-height: 40px;
                font-weight: 400;

            }

        }

        
    }

}